<footer class="footer">
    <div class="footer-top">

        <div>
            <div class="footer-brand">
                {% if public_site_logo_url %}
                <img
                    class="footer-brand-logo"
                    src="{{ public_site_logo_url }}"
                    alt="{{ public_site.site_name|default:'경상남도 반려견 협회' }} 로고"
                >
                {% endif %}
                <b>{{ public_site.site_name|default:"경상남도 반려견 협회" }}</b>
            </div>

            <small>
                {{ public_site.site_subtitle|default:"Gyeongnam Pet Dog Association" }}
            </small>

            <p>
                <b>주소</b>
                경남 창원시 성산구 용지로 159,
                iM뱅크(대구은행) 4층 405호
                <br>

                <b>대표자</b> 심규진
                <br>

                <b>고유번호</b> 539-80-02508
                <br>

                <b>이메일</b> shim194200@gmail.com
                <br>

                <b>운영시간</b> 평일 09:00 ~ 18:00
            </p>
        </div>

        <div>
            <b>관련분야</b>

            <ul>
                <li><a href="/#join">반려견 등록</a></li>
                <li><a href="/partners.html">의료 지원</a></li>
                <li><a href="/partners.html">반려견 공원</a></li>
                <li><a href="/benefits.html">회원 혜택</a></li>
                <li><a href="/partners.html">제휴 병원</a></li>
                <li><a href="/community.html">민원 신청</a></li>
                <li><a href="/board.html?tab=notice">공지사항</a></li>
                <li><a href="/community.html">자유게시판</a></li>
            </ul>
        </div>

    </div>

    <div class="footer-bottom">
        <span>
            COPYRIGHT © 2026 {{ public_site.site_name|default:"경상남도 반려견 협회" }}.
            ALL RIGHTS RESERVED.
        </span>

        <nav>
            <a href="/#privacy">개인정보처리방침</a>
            <a href="#">이용약관</a>
            <a href="#">사이트맵</a>
        </nav>
    </div>
</footer>

<div class="bot-float">
    <div class="bot-tip">
        궁금한 것<br>
        물어보세요! 🐾
    </div>
    <button id="botButton" type="button">🐕</button>
</div>

<button
    class="to-top"
    type="button"
    onclick="scrollTo({top:0,behavior:'smooth'})"
>
    ▲
</button>

<script src="/assets/js/chatbot.js?v=20261002ai"></script>
